@font-face {
  font-family: 'neueMontreal';
  src: url('/fonts/ppneuemontreal-book.woff2') format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'aspekta';
  src: url('/fonts/Aspekta-400.woff2') format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'aspekta';
  src: url('/fonts/Aspekta-500.woff2') format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'neueMontreal';
  src: url('/fonts/ppneuemontreal-medium.woff2') format("woff2");
  font-display: optional;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'aspekta';
  src: url('/fonts/Aspekta-300.woff2') format("woff2");
  font-display: optional;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'neueMontreal';
  src: url('/fonts/ppneuemontreal-bold.woff2') format("woff2");
  font-display: optional;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'neueMontreal';
  src: url('/fonts/ppneuemontreal-thin.woff2') format("woff2");
  font-display: optional; 
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'aspekta';
  src: url('/fonts/Aspekta-700.woff2') format("woff2");
  font-display: optional;
  font-weight: 700;
  font-style: normal;
}
