@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --primary: #f16b0d;
  --secondary: #e61216;
  --card-bg: #EFF1FB;
  --border-cards: #E1E1E1;
  --primary-blue: #1727FF;
  --text-110: 6vw;
  --text-40:1.2vw;
  --text-44: 2.3vw;
  --text-24: 1.3vw;
  --text-32: 1.7vw;
  --text-76:4.2vw;
  --text-56:3.1vw;
  --text-30:1.55vw;
  --text-22:1.1vw;
  --default-ease: cubic-bezier(0.19, 1, 0.22, 1);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-blue: var(--primary-blue);
  --color-border-color: var(--border-cards);
  --color-card-bg: var(--card-bg);
  --font-sans: var(--font-aspekta);
  --font-heading: var(--font-neue-montreal);
  --text-110: var(--text-110);
  --text-110--line-height: 1.1;
  --text-56: var(--text-56);
  --text-30: var(--text-30);
  --text-32: var(--text-32);
  --text-76: var(--text-76);
  --text-56--line-height: 1.1;
  --ease-default-ease: var(--default-ease);
  --text-44: var(--text-44);
  --text-40: var(--text-40);
  --text-24: var(--text-24);
  --text-32: var(--text-32);
  --text-22: var(--text-22);
  --ease-default-ease: var(--default-ease);

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  font-kerning: auto;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading, ui-sans-serif), sans-serif;
}

.buttonTextShadow {
  text-shadow: 0 1.5em currentColor;
}
.buttonSplit .single-letter {
  transition: transform 1s var(--default-ease);
}

.buttonSplit:hover .single-letter {
  transform: translate(0px, -1.5em);
}

/* @layer utilities { */
  .bg-radial-night {
    background: radial-gradient(
      circle at center,
      #02031c 0%,
      #02031c 35%,
      #030558 100%
    );
  }
/* } */

.unifyblock {
  /* initial gradient colors */
  --c1: #02031c; /* "from" */
  --c2: #02031c; /* "via" */
  --c3: #030558; /* "to" */

  /* initial radial size */
  --rx: 50%; /* x-radius */
  --ry: 50%; /* y-radius */

  background-image: radial-gradient(
    var(--rx) var(--ry) at 50% 50%,
    var(--c1) 80%,
    /* var(--c2) 55%, */
    var(--c3) 150%
  );

  background-color: transparent !important;
}

.shimmer {
  color: transparent;
  background-image: linear-gradient(
    90deg,
    #ffffff70 0%,
    rgb(255, 255, 255) 25%,
    #ffffff70 50%
  );
  background-size: 250% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  background-position: 100% 0%;
  animation: shimmerAnimation 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes shimmerAnimation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -90% 0%;
  }
}

.clients-marquee {
  display: flex;
  white-space: nowrap;
  width: 100vw;
}

.clients-marquee__track {
  display: flex;
  width: fit-content;
  animation: clients-marquee 25s linear infinite;
}

@keyframes clients-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50.21%);
  }
}

/* spin snimation for circle */

@keyframes spin-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-anticlockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.outer-circle {
  animation: spin-clockwise 80s linear infinite;
  transform-origin: center center;
  will-change: transform;
}

.inner-circle {
  animation: spin-anticlockwise 60s linear infinite;
  transform-origin: center center;
  will-change: transform;
}
