@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --primary: #f16b0d;
  --secondary: #e61216;
  --card-bg: #eff1fb;
  --border-cards: #e1e1e1;
  --primary-blue: #1727ff;
  --gray-1: #333333;
  --text-110: 6vw;
  --text-40: 2.2vw;
  --text-44: 2.3vw;
  --text-24: 1.3vw;
  --text-32: 1.7vw;
  --text-76: 4.2vw;
  --text-80: 4.5vw;
  --text-56: 3.1vw;
  --text-30: 1.55vw;
  --text-22: 1.1vw;
  --text-20: 0.9vw;
  --default-ease: cubic-bezier(0.19, 1, 0.22, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-blue: var(--primary-blue);
  --color-border-color: var(--border-cards);
  --color-gray-1: var(--gray-1);
  --color-card-bg: var(--card-bg);
  --font-sans: var(--font-aspekta);
  --font-heading: var(--font-neue-montreal);
  --text-110: var(--text-110);
  --text-80: var(--text-80);
  --text-110--line-height: 1.3;
  --text-56: var(--text-56);
  --text-20: var(--text-20);
  --text-30: var(--text-30);
  --text-76: var(--text-76);
  --text-80: var(--text-80);
  --text-32: var(--text-32);
  --text-56--line-height: 1.3;
  --ease-default-ease: var(--default-ease);
  --text-44: var(--text-44);
  --text-40: var(--text-40);
  --text-24: var(--text-24);
  --text-32: var(--text-32);
  --text-22: var(--text-22);
  --ease-default-ease: var(--default-ease);
  --breakpoint-md: 1025px;
  --breakpoint-sm: 640px;
}

body {
  font-family: var(--font-sans), sans-serif;
  font-kerning: auto;
  width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading, ui-sans-serif), sans-serif;
}

.buttonTextShadow {
  text-shadow: 0 1.5em currentColor;
}
.buttonSplit .single-letter {
  transition: transform 1s var(--default-ease);
}

.buttonSplit:hover .single-letter {
  transform: translate(0px, -1.5em);
}

/* @layer utilities { */
.bg-radial-night {
  background: radial-gradient(
    circle at center,
    #02031c 0%,
    #02031c 85%,
    #030558 100%
  );
}
/* } */


::-webkit-scrollbar {
  width: 4px;
  padding-left: 5vw;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background:#1727ff;
  border-radius: 100px;
}

.unifyblock {
  /* initial gradient colors */
  --c1: #02031c; /* "from" */
  --c2: #02031c; /* "via" */
  --c3: #030558; /* "to" */

  /* initial radial size */
  --rx: 50%; /* x-radius */
  --ry: 50%; /* y-radius */

  background-image: radial-gradient(
    var(--rx) var(--ry) at 50% 50%,
    var(--c1) 80%,
    /* var(--c2) 55%, */ var(--c3) 150%
  );

  background-color: transparent !important;
}

.keepScrolling-arrow {
  animation: ArrowAnim 2s ease-in-out infinite;
}

@keyframes ArrowAnim {
  0% {
    transform: translateY(-60%);
  }
  50% {
    transform: translateY(0%);
  }
  80%,
  100% {
    transform: translateY(0%);
  }
}

.shimmer {
  color: transparent;
  background-image: linear-gradient(
    90deg,
    #00000070 0%,
    rgb(255, 255, 255) 25%,
    #00000070 50%
  );
  background-size: 250% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  background-position: 100% 0%;
  animation: shimmerAnimation 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes shimmerAnimation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -90% 0%;
  }
}

/* New Section Break Animation */
.split__wrapper .split-chars {
  transition: color 0.4s;
  color: #dddddd;
}

.split__wrapper .split-chars.show {
  animation: color-transition 0.5s;
  color: #111111;
}

@keyframes color-transition {
  0% {
    color: #dddddd;
  }
  30% {
    color: #0205FA;
  }
  100% {
    color: #111111;
  }
}


.workshop-scrollbar {
  height: 4px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0);
}

.workshop-scrollbar .swiper-scrollbar-drag {
  background: #0205FA; 
  border-radius: 999px;
}


.under-multi {
  text-decoration: none;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 0)),
    linear-gradient(#111111, #111111);
  background-size:
    100% 0px,
    0% 1.5px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat, no-repeat;
  transition: background-size 0.5s ease-out;
}

.under-multi-parent:hover .under-multi {
  background-size:100% 1.5px;
}

.clients-marquee {
  display: flex;
  white-space: nowrap;
  width: 100vw;
}

.clients-marquee__track {
  display: flex;
  width: fit-content;
  animation: clients-marquee 25s linear infinite;
}

.Headingline {
  mask-size: 500% 100%;
  mask-image: linear-gradient(
    150deg,
    #e8e8e8 33.3%,
    rgba(255, 255, 255, 0) 66.6%
  );
}

@keyframes clients-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50.21%);
  }
}

/* spin snimation for circle */

@keyframes spin-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-anticlockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.workshop-scrollbar {
  height: 8px;
  border-radius: 999px;
  background: #dfdfdf;
}

.workshop-scrollbar .swiper-scrollbar-drag {
  background: #0205FA; /* orange */
  border-radius: 999px;
}

.outer-circle {
  animation: spin-clockwise 80s linear infinite;
  transform-origin: center center;
  will-change: transform;
}

.inner-circle {
  animation: spin-anticlockwise 60s linear infinite;
  transform-origin: center center;
  will-change: transform;
}

/* Custom Scrollbar Styles */

.max-sm\:overflow-x-scroll::-webkit-scrollbar {
  height: 5px;
}

.max-sm\:overflow-x-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.max-sm\:overflow-x-scroll::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

.max-sm\:overflow-x-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}

/* Firefox */
.max-sm\:overflow-x-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) #f1f1f1;
}

@media (max-width: 1025px) {
  :root {
    --text-110: 8.5vw;
    --text-80: 6.8vw;
    --text-76: 6.4vw;
    --text-56: 4.8vw;
    --text-44: 3.8vw;
    --text-40: 3.6vw;
    --text-32: 3vw;
    --text-30: 2.8vw;
    --text-24: 2.5vw;
    --text-22: 2.3vw;
    --text-20: 2.2vw;
    --text-18: 2vw;
  }
}

@media (max-width: 542px) {
  :root {
    --text-110: 12vw;
    --text-80: 11vw;
    --text-44: 6vw;
    --text-76: 8vw;
    --text-30: 4.8vw;
    --text-22: 5vw;
    --text-20: 3.5vw;
    --text-24: 4vw;
    --text-56: 6.5vw;
    --text-18: 4vw;
    --text-40: 5.5vw;
    --text-32: 5vw;
  }
}