@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --primary: #F16B0D;
  --secondary: #E61216;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-aspekta);
  --font-heading: var(--font-neue-montreal);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}